<form action="{% url 'polls:vote' question.id %}" method="post">
<!--    防止post方法可能产生的csrf攻击，所有指向内部url的post form都应该加上这句 -->
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
<!--  forloop.counter：当前循环计数，这里分别是 1、2  -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>